/* ===== Contact ===== */

.contact__intro {
  margin: 28px 0 0 22px;
  max-width: 350px;
  font-family: var(--ff-text);
  font-size: var(--fs-base);
  line-height: 1.29168;
  color: var(--color-text-main);
}

/* Form container */
.contact-form {
  margin: 37px auto 20px;
  width: 364px;
  padding: 35px 16px; 
  background: var(--color-bg-dark);
  border-radius: var(--radius-sm);

  display: flex;
  flex-direction: column;
  gap: 0; 
}

/* Field */
.contact-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}




/* Labels */
.contact-form__field label {
  margin-bottom: 4px;
  font-family: var(--ff-text);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: var(--color-text-main);
  line-height: 1.2;
}


/* Inputs */
.contact-form__field input,
.contact-form__field textarea {
  width: 332px;
  border-radius: var(--radius-sm);
  border: 2px solid #180E12;
  background: var(--color-gold);
  padding: 16px 15px;

  font-family: var(--ff-text);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  color: #2F2F2F;
}

/* Textarea */
.contact-form__field textarea {
  height: 151px;
  resize: none;
  display: block;
  flex-shrink: 0;
}


/* Placeholder */
.contact-form__field input::placeholder,
.contact-form__field textarea::placeholder {
  color: #2F2F2F;
  opacity: 0.7;
}

.contact-form__field--message {
  margin-top: 20px;
  margin-bottom: 32px;
}


/* Submit button */
.contact-form__submit {
  align-self: center;
  width: 163px;
  height: 52px;

  border-radius: var(--radius-sm);
  border: 1px solid #CCC;
  background: var(--color-accent-secondary);

  color: #CBCBCB;
  font-family: var(--ff-text);
  font-size: var(--fs-base);
  cursor: pointer;
} 

