/* =========================
   HOME PAGE COMPONENTS
   ========================= */

/* ---------- HERO ---------- */
/* === background === */
body {
  background: #131108;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: var(--ff-text);
}

/* === HERO === */
/* === HERO === */
.hero {
  position: relative;
  width: 100%;
  max-width: 393px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
}

/* Frame */
.hero__dialogue {
  position: absolute;
  top: 367px;  
  left: 21px;  
  width: 210px; 
  height: 73px;
}

.hero__frame {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

/* Texte sur frame */
.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 100%; 
  color: #EBD6A9;
  font-family: var(--ff-decorative);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center; 
  margin: 0;
  pointer-events: none;
}



